ul li{
  font-family: 'Arimo', sans-serif;
  border: none;
  border-radius: .2rem;
  background-color: #212121;
  color: #00D9BD;
  box-shadow: 4px 2px 8px #000000;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  font-size: medium;
  list-style-type: square;
}


