form {
  width: 20rem;
  margin: 2rem auto;
  padding: 1rem;
  list-style: none;
  background-color: #2E2E2E;
  border-radius: 6px;
  box-shadow: 4px 2px 8px #000000;
}

label {
  display: block;
  font-weight: bold;
  color: #B882FC;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  border-radius: 2px;
  border: none;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  font: inherit;
  background-color: #474747;
  color: white;
}

button {
  display: flex;
  align-items: center;
  margin: .2rem auto;
  padding: .4rem;
  background-color: #18E0C9;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

button:active {
  background-color: #14b4a2;
}
